<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="stylesheet" href="../../../../../public/assets/css/bootstrap/swiper.css" />
  <link rel="stylesheet" href="../../../../../public/assets/css/bootstrap/style.css" />
</head>
<style>

</style>
<body>

  <!-- logo -->
  <div class="top">
    <div class="logo-container">
      <img class="logo_img" src="../../../../../public/assets/images/$logo_book.png" alt="logo free-books" />
      <h4>
        Books.
      </h4>
      <span>free</span>
    </div>
  </div>
  <!-- end logo -->
  <div class="container">

    <!-- Dashboard -->
    <div class="left-container">
     
      <h3 class="dashboard-title"> <img class="logo-img" src="../../../../../public/assets/icone/dashboard.png"/>Dashboard</h3>
      <br>
      <h3 class="left-container-title"><img class="logo-img" src="../../../../../public/assets/icone/paper.png"/>
        Liste des livres
        <p class="title1">23</p>
      </h3>
      <h3 class="left-container-title"><img class="logo-img" src="../../../../../public/assets/icone/download.png"/>
        Livres téléchargés
        <p class="title2">12</p>
      </h3>
      <h3 class="left-container-title"><img class="logo-img" src="../../../../../public/assets/icone/letter.png"/>
        Articles
        <p class="title3">7</p>
      </h3>
      <h3 class="left-container-title"><img class="logo-img" src="../../../../../public/assets/icone/account.png"/>
        Utilisateurs
        <p class="title4">14</p>
        <br>
      </h3>
    </div>
    <!-- end Dashboard -->

    <!-- right section  -->
    <div class="right-container">
      <div class="right-content">
        <h1>Bienvenue, <br> sur le plateforme <br> de livre gratuit</h1>
        <p>Télécharger votre livre gratuitement <br> n'importe où</p>
        <br>
        <a href="/book-list" class="primary-button">Voir tous les livres</a>
      </div>
      <div class="right-content-image">
        <img src="../../../../../public/assets/images/book.png" alt="" class="right-img" />
      </div>
    </div>
    <!-- end right section  -->

  

  <!-- category section  -->
  <div class="category">
   <h1>Catégories</h1>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="card">
            <div class="layer"></div>
            <div class="content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                Assumenda commodi repellat provident iusto officiis vel <br>
                </p>
                <div class="imgBox">
                  <img src="../../../../../public/assets/icone/computer.png" />
                </div>
                <div class="details">
                  <h2>Informatics & Technology <br> <span>Categorie description</span> </h2>
                </div>
              </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card">
            <div class="layer"></div>
            <div class="content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                Assumenda commodi repellat provident iusto officiis vel <br>
                </p>
                <div class="imgBox">
                  <img src="../../../../../public/assets/icone/android-logo.png" />
                </div>
                <div class="details">
                  <h2>Android development <br> <span>Categorie description</span> </h2>
                </div>
              </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card">
            <div class="layer"></div>
            <div class="content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                Assumenda commodi repellat provident iusto officiis vel <br>
                </p>
                <div class="imgBox">
                  <img src="../../../../../public/assets/icone/programming-code-signs.png" />
                </div>
                <div class="details">
                  <h2>Web development <br> <span>Categorie description</span> </h2>
                </div>
              </div>
          </div>
        </div>

      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <!-- end categorie section  -->
  <div class="para" style="margin-top: 12rem;">
    <div class="left-para">
      
    <h1>Comment lire un livre : 4 étapes essentielles à suivre pour lire intelligemment</h1>
    <h3>
      Temps de lecture estimé : 9 minutes
    </h3>
    <p>
      Comment s’y prendre pour lire et comprendre des textes difficiles sur des sujets qui ne vous sont pas familiers ou qui ne vous intéressent pas ?
      Un livre comme la Critique de la Raison pure d’Emmanuel Kant pèse plus de 800 pages, et ses thèses sont si denses qu’elles décourageraient la plupart des lecteurs après quelques pages. Avec autant de détails approfondis sur un sujet, le lecteur moyen peut se perdre dans les détails.
      Nous ne devons pas nous laisser abattre par cette apparente complexité, car elle pourrait nous faire passer à côté d’idées grandioses et de textes importants qui ont fait l’histoire.
      Dans How to Read a Book, les auteurs Mortimer Adler et Charles Van Doren proposent diverses techniques et méthodes qui vous aideront à aborder, comprendre et analyser n’importe quel livre en toute confiance.
       <h2>1. La lecture élémentaire : Comprendre le niveau de base de la grammaire et du vocabulaire </h2>
      La lecture élémentaire est l’étape à laquelle le lecteur peut déchiffrer et comprendre des mots et des phrases dans un texte.
      Si vous ne comprenez pas un livre à son niveau fondamental de grammaire et de vocabulaire, vous ne serez pas en mesure d’en faire grand-chose.
      Il s’avère que l’apprentissage d’une chose compliquée nécessite d’abord la maîtrise des fondamentaux. Si vous n’êtes pas familier avec les règles du jeu, vous ne serez pas en mesure de donner un sens au jeu.
      Par conséquent, pour comprendre un livre, vous devez connaître la langue dans laquelle elle est écrite, et ses constructions grammaticales et syntaxiques.
      Sans savoir ce que signifie un mot ou une phrase en particulier, vous ne serez même pas en mesure de faire le premier pas vers la compréhension de ce qu’est le livre.
      C’est une lecture élémentaire. À ce stade, le lecteur est capable de comprendre les phrases et les mots qui les composent.
      Si vous lisez un livre sur l’Univers et que vous ne savez pas ce que signifie l’Univers, quel sens ce livre peut-il avoir pour vous ?
      Ainsi, la prochaine fois que vous analyserez un texte, assurez-vous de bien comprendre tous les concepts de base dès le début.</p>
  <h2>2. La lecture d’inspection : Parcourir intelligemment le livre pour comprendre ses intentions</h2>
    <p>Beaucoup de gens achètent un livre à cause d’une recommandation de quelqu’un. Ils ne se donnent pas la peine de savoir si cela les intéresserait vraiment, et découvrent plus tard que le livre n’est pas du tout ce qu’ils pensaient qu’il serait. C’est une source de déception.
      Eh bien, il existe un moyen d’atténuer ce risque et de vérifier si le livre est susceptible de vous intéresser.
      La lecture d’inspection est une technique qui vous permet de répondre aux questions « De quoi parle le livre ? » et « De quel type de livre s’agit-il ? ». Elle vous permet de parcourir intelligemment un livre dans un temps limité.</p>
    </div>
    <!-- <div class="right-para"> -->
      <!-- <img  src="../../../../../public/assets/images/book_image.png" class="right-img" alt=""> -->
      <!-- <img  src="../../../../../public/assets/images/book.png" class="right-img" alt=""> -->
    <!-- </div> -->

  </div>

</div>
  <script src="../../../../../public/assets/css/bootstrap/swiper.js"></script>
  <script>
   
    var swiper = new Swiper(".mySwiper", {
      effect: "coverflow",
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: "auto",
      coverflowEffect: {
        rotate: 0,
        stretch: 0,
        depth: 0,
        modifier: 1,
        slideShadows: true,
      },
      pagination: {
        el: ".swiper-pagination",
      },
      loop: true,
    });
  </script>
</body>

</html>